div {
  width: 200px;
  height: 200px;
}
#contenedor1 {
  background-color: blue;
}
#contenedor2 {
  background-color: red;
}
#contenedor3 {
  background-color: green;
}
#contenedor4 {
  background-color: yellow;
}
